@import "./reset";
@import "./header";
@import "./hero";

.container {
    padding: 30px;
    background: url(../picture/background.png);
    background-color: #0E0E1B;
    width: 1400px;
    margin: 0 auto;
}